/**
** This example is taken from:
** https://github.com/picocss/examples/tree/master/company/
**/

/* Global CSS variables */
:root {
  --spacing-company: 3rem;
  --font-weight: 400;
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}

small {
  color: var(--muted-color);
}

/* Header */
.hero {
  background-color: #394046;
  background-image: url("/static/img/anupam_banner_Hires.webp");
  background-position: center;
  background-size: cover;
}

header h1 {
  font-size: xxx-large;
}
header {
  padding: var(--spacing-company) 0;
}

main,
footer {
  margin-top: var(--spacing-company);
}

footer {
  text-align: center;
}

label {
  font-weight: bold;
}

header hgroup > :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
}

/* Nav */
summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--contrast-hover);
}

/* Main */
@media (min-width: 992px) {
  main .grid.quarter {
    grid-column-gap: var(--spacing-company);
    grid-template-columns: auto 25%;
  }
}

form.grid {
  grid-row-gap: 0;
}

/* Aside nav */
aside img {
  margin-bottom: 0.25rem;
}

aside p {
  margin-bottom: var(--spacing-company);
  line-height: 1.25;
}

/* dialog {
      position: relative;
    padding: 0%;
    background-color: inherit;
} */

.entry-ext::after {
  content: url("/static/img/Icon_External_Link.png");
}

/* a:not[href*="//localhost:8080/"], 
a:not[href*="http://localhost:8080/"], 
a:not[href*="https://localhost:8080/"] {
  text-decoration: none;
  box-shadow: inset 0 -0.25rem 0 #c0e6f7;
  content: url("/static/img/Icon_External_Link.png");
}

a[href^="http://"]:after, 
a[href^="https://"]:after {
  content: url("/static/img/Icon_External_Link.png");
}

a[href^="//localhost:8080/"]:after, 
a[href^="http://localhost:8080/"]:after, 
a[href^="https://localhost:8080/"]:after {
  content: '';
} */

.exists {
  box-shadow: inset 0 -0.25rem 0 #c0e6f7;
}

.exists-not {
  color: var(--del-color);
  box-shadow: inset 0 -0.1rem 0 var(--del-color);
}

.preview {
  border-style: dashed;
  border-color: var(--form-element-border-color);
  border-radius: 0;
  padding: 0.5rem;
  margin-bottom: var(--spacing);
}

.source {
  resize: vertical;
}

.switcher {
  position: fixed;
  right: calc(var(--spacing) / 2 + var(--scrollbar-width, 0px));
  bottom: var(--spacing);
  width: auto;
  margin-bottom: 0;
  padding: 0.75rem;
  border-radius: 2rem;
  box-shadow: var(--card-box-shadow);
  line-height: 1;
  text-align: right;
}

.switcher::after {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0.15rem solid currentColor;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    currentColor 0,
    currentColor 50%,
    transparent 50%
  );
  content: "";
  vertical-align: bottom;
  transition: transform var(--transition);
}

.switcher i {
  display: inline-block;
  max-width: 0;
  padding: 0;
  overflow: hidden;
  font-style: normal;
  font-size: 0.875rem;
  white-space: nowrap;
}

.switcher:focus,
.switcher:hover {
  max-width: 100%;
  transition: background-color var(--transition), border-color var(--transition),
    color var(--transition), box-shadow var(--transition);
}

.switcher:hover::after {
  transform: rotate(180deg);
}

.switcher:hover i {
  max-width: 100%;
  padding: 0 calc(var(--spacing) / 2) 0 calc(var(--spacing) / 4);
  transition: max-width var(--transition), padding var(--transition);
}

.switcher:focus {
  box-shadow: var(--card-box-shadow), 0 0 0 0.2rem var(--secondary-focus);
}

.table-of-contents {
  all: revert;
}

.table-of-contents ol {
  all: revert;
}

.table-of-contents ol > li {
  all: revert;
  list-style: decimal;
}

ol > li li {
  list-style: lower-alpha;
}

ol > li li li {
  list-style: lower-roman;
}

ol > li li li li {
  list-style: upper-alpha;
}

@media (min-width: 576px) {
  .switcher {
    right: calc(var(--spacing) + var(--scrollbar-width, 0px));
  }
}
