<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Markdown Wiki - Don't Tech</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="/static/css/pico.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
</head>

<body>
    <!-- Hero -->
    <div class="hero" data-theme="dark">
        <nav class="container-fluid">
            <ul>
                <li><a href="/" id="hero_li1" class="contrast"><strong>Don't Tech</strong></a></li>
            </ul>
        </nav>
        <header class="container">
            <h1><strong>Ooops!</strong> This was unexpected...</h1>
        </header>
    </div><!-- ./ Hero -->

    <div class="container">
        <main>
            <div class="grid quarter">
                <div>
                    {{ detail }}
                </div>
                <div id="recent">
                    <figure>
                        <figcaption>Recent articles:</figcaption>
                        <ul>
                        {%+ for title in recent %}
                            <li><a href="/wiki/{{ title }}">{{ title }}</a></li>
                        {% endfor %}
                        </ul>
                    </figure>
                </div>
            </div>
        </main>
    </div>

    <script src="/static/js/minimal-theme-switcher.js"></script>
    <!-- Minimal theme switcher -->
    <script>
        "use strict"; !function () { const e = { _scheme: "auto", change: { light: "<i>Turn on dark mode</i>", dark: "<i>Turn off dark mode</i>" }, buttonsTarget: ".theme-switcher", localStorageKey: "picoPreferedColorScheme", init() { this.scheme = this.schemeFromLocalStorage, this.initSwitchers() }, get schemeFromLocalStorage() { return void 0 !== window.localStorage && null !== window.localStorage.getItem(this.localStorageKey) ? window.localStorage.getItem(this.localStorageKey) : this._scheme }, get preferedColorScheme() { return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light" }, initSwitchers() { const e = document.querySelectorAll(this.buttonsTarget); e.forEach(e => { e.addEventListener("click", () => { "dark" == this.scheme ? this.scheme = "light" : this.scheme = "dark" }, !1) }) }, addButton(e) { let t = document.createElement(e.tag); t.className = e.class, document.querySelector(e.target).appendChild(t) }, set scheme(e) { "auto" == e ? "dark" == this.preferedColorScheme ? this._scheme = "dark" : this._scheme = "light" : "dark" != e && "light" != e || (this._scheme = e), this.applyScheme(), this.schemeToLocalStorage() }, get scheme() { return this._scheme }, applyScheme() { document.querySelector("html").setAttribute("data-theme", this.scheme); const e = document.querySelectorAll(this.buttonsTarget); e.forEach(e => { const t = "dark" == this.scheme ? this.change.dark : this.change.light; e.innerHTML = t, e.setAttribute("aria-label", t.replace(/<[^>]*>?/gm, "")) }) }, schemeToLocalStorage() { void 0 !== window.localStorage && window.localStorage.setItem(this.localStorageKey, this.scheme) } }, t = { _state: "closed-on-mobile", toggleLink: document.getElementById("toggle-docs-navigation"), nav: document.querySelector("main > aside > nav"), init() { this.onToggleClick() }, onToggleClick() { this.toggleLink.addEventListener("click", e => { e.preventDefault(), "closed-on-mobile" == this.state ? this.state = "open" : this.state = "closed-on-mobile", this.nav.removeAttribute("class"), this.nav.classList.add(this.state) }, !1) }, get state() { return this._state }, set state(e) { this._state = e } }; e.addButton({ tag: "BUTTON", class: "contrast switcher theme-switcher", target: "body" }), e.init(), t.init() }();
    </script>
</body>

</html>