<!DOCTYPE html>
<html lang="en">
{% macro sentence_case(text) %}{{text[0]|striptags|upper}}{{text[1:] }}{% endmacro %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing {{+ sentence_case(title) }} - Markdown Wiki - Don't Tech</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="/static/css/pico.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
</head>

<body>
    <!-- Hero -->
    <div class="hero" data-theme="dark">
        <nav class="container-fluid">
            <ul>
                <li><a href="/" id="hero_li1" class="contrast"><strong>Don't Tech</strong></a></li>
            </ul>
        </nav>
        <header class="container">
            <h1><a href="/wiki/{{ title }}" class="contrast">{{+ sentence_case(title) }}</a></h1>
        </header>
    </div><!-- ./ Hero -->

    <div class="container">
        <main>
            <div style="padding-bottom: 1rem;">
                Use this page to <strong>create/edit</strong> a new title in the website
            </div>
            <form action="/submit" method="post">
                <input type="hidden" name="title" id="title" hidden aria-hidden="true" value="{{ title }}">
                <section id="editor" class="grid">
                    <textarea class="source" name="source" id="source" placeholder="Type markdown here:" rows="15"
                              required aria-label="Type markdown here:" aria-required="true"
                              onchange="checkNameValidity('source')"{%+ if text is not none %}
aria-invalid="false">{{+ text }}{% else %}aria-invalid="true"># Header
Sample text{% endif %}
</textarea>
                </section>
                <section>
                    <div class="grid">
                        <input type="text" name="name" id="name" placeholder="Your name" aria-label="Your name"
                               required aria-invalid="{%+ if name is not none %}false{% else %}true{% endif %}" aria-required="true" onload="checkNameValidity('name')" onchange="checkNameValidity('name')" value="{{ name }}">
                        <input type="email" name="email" placeholder="Email address" aria-label="Email address" {%+ if name is not none %}value="{{ email }}"{% endif %}>
                        <p><button type="submit">Submit</button></p>
                    </div>
                    <!-- TODO: Enable this when a privacy policy has been uploaded, and update the link below
                        <fieldset>
                        <label for="terms">
                            <input type="checkbox" role="switch" id="terms" name="terms">
                            I agree to the <a href="#" onclick="event.preventDefault()">Privacy Policy</a>
                        </label>
                    </fieldset> -->
                </section>
            </form>
        </main>

        <!-- Footer -->
        <footer>
            <label for="disclaimer-text">Disclaimer:</label>
            <span id="disclaimer-text">All the text submitted to this website falls under public domain.</span>
        </footer><!-- ./ Footer -->
    </div>
    <script src="/static/js/markdown-it.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/lodash.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/preview.js"></script>
    <script src="/static/js/minimal-theme-switcher.js"></script>
    <!-- Minimal theme switcher -->
    <script>
        "use strict"; !function () { const e = { _scheme: "auto", change: { light: "<i>Turn on dark mode</i>", dark: "<i>Turn off dark mode</i>" }, buttonsTarget: ".theme-switcher", localStorageKey: "picoPreferedColorScheme", init() { this.scheme = this.schemeFromLocalStorage, this.initSwitchers() }, get schemeFromLocalStorage() { return void 0 !== window.localStorage && null !== window.localStorage.getItem(this.localStorageKey) ? window.localStorage.getItem(this.localStorageKey) : this._scheme }, get preferedColorScheme() { return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light" }, initSwitchers() { const e = document.querySelectorAll(this.buttonsTarget); e.forEach(e => { e.addEventListener("click", () => { "dark" == this.scheme ? this.scheme = "light" : this.scheme = "dark" }, !1) }) }, addButton(e) { let t = document.createElement(e.tag); t.className = e.class, document.querySelector(e.target).appendChild(t) }, set scheme(e) { "auto" == e ? "dark" == this.preferedColorScheme ? this._scheme = "dark" : this._scheme = "light" : "dark" != e && "light" != e || (this._scheme = e), this.applyScheme(), this.schemeToLocalStorage() }, get scheme() { return this._scheme }, applyScheme() { document.querySelector("html").setAttribute("data-theme", this.scheme); const e = document.querySelectorAll(this.buttonsTarget); e.forEach(e => { const t = "dark" == this.scheme ? this.change.dark : this.change.light; e.innerHTML = t, e.setAttribute("aria-label", t.replace(/<[^>]*>?/gm, "")) }) }, schemeToLocalStorage() { void 0 !== window.localStorage && window.localStorage.setItem(this.localStorageKey, this.scheme) } }, t = { _state: "closed-on-mobile", toggleLink: document.getElementById("toggle-docs-navigation"), nav: document.querySelector("main > aside > nav"), init() { this.onToggleClick() }, onToggleClick() { this.toggleLink.addEventListener("click", e => { e.preventDefault(), "closed-on-mobile" == this.state ? this.state = "open" : this.state = "closed-on-mobile", this.nav.removeAttribute("class"), this.nav.classList.add(this.state) }, !1) }, get state() { return this._state }, set state(e) { this._state = e } }; e.addButton({ tag: "BUTTON", class: "contrast switcher theme-switcher", target: "body" }), e.init(), t.init() }();
    </script>
</body>

</html>